<!--
  Generated template for the ChampionBuildPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
          <button ion-button outline borderless (click)="onClickSave($event)">Save</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
          <ion-label floating>Build Name</ion-label>
          <ion-input [(ngModel)]="build.nome"  ></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Build Description</ion-label>
          <ion-textarea [(ngModel)]="build.descricao" ></ion-textarea>
      </ion-item>
    </ion-row>
    <ion-row>
        <ion-label>Items</ion-label>
      </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="item-build-container" (click)="clickEscolhaItem(1)">
          <img src="{{ item1?.imagem | lolImagens:'item' }}" alt="">
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="item-build-container" (click)="clickEscolhaItem(2)">
          <img src="{{ item2?.imagem | lolImagens:'item' }}" alt=""></ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="item-build-container" (click)="clickEscolhaItem(3)">
          <img src="{{ item3?.imagem | lolImagens:'item' }}" alt=""></ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="item-build-container" (click)="clickEscolhaItem(4)">
          <img src="{{ item4?.imagem | lolImagens:'item' }}" alt=""></ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="item-build-container" (click)="clickEscolhaItem(5)">
          <img src="{{ item5?.imagem | lolImagens:'item' }}" alt=""></ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div style="width: 100%; background: gray; height: 1px;"></div>

  <ion-list>
    <ion-item text-wrap *ngIf="item1 != null">
      <ion-thumbnail item-start>
        <img src="{{ item1?.imagem | lolImagens:'item' }}" alt="">
      </ion-thumbnail>
      <div item-content>
        <ion-label>{{item1?.nome}}</ion-label>
        <ion-label floating>Why this item?</ion-label>
        <ion-textarea  [ngModel]="descricaoItem5"></ion-textarea>
      </div>
    </ion-item>
    <ion-item text-wrap *ngIf="item2 != null">
      <ion-thumbnail item-start>
        <img src="{{ item2?.imagem | lolImagens:'item' }}" alt="">
      </ion-thumbnail>
      <div item-content>
        <ion-label>{{item2?.nome}}</ion-label>
        <ion-label floating>Why this item?</ion-label>
        <ion-textarea [ngModel]="descricaoItem2"></ion-textarea>
      </div>
    </ion-item>
    <ion-item text-wrap *ngIf="item3 != null">
      <ion-thumbnail item-start>
        <img src="{{ item3?.imagem | lolImagens:'item' }}" alt="">
      </ion-thumbnail>
      <div item-content>
        <ion-label>{{item3?.nome}}</ion-label>
        <ion-label floating>Why this item?</ion-label>
        <ion-textarea [ngModel]="descricaoItem3"></ion-textarea>
      </div>
    </ion-item>
    <ion-item text-wrap *ngIf="item4 != null">
      <ion-thumbnail item-start>
        <img src="{{ item4?.imagem | lolImagens:'item' }}" alt="">
      </ion-thumbnail>
      <div item-content>
        <ion-label>{{item4?.nome}}</ion-label>
        <ion-label floating>Why this item?</ion-label>
        <ion-textarea [ngModel]="descricaoItem4"></ion-textarea>
      </div>
    </ion-item>
    <ion-item text-wrap *ngIf="item5 != null">
      <ion-thumbnail item-start>
        <img src="{{ item5?.imagem | lolImagens:'item' }}" alt="">
      </ion-thumbnail>
      <div item-content>
        <ion-label>{{item5?.nome}}</ion-label>
        <ion-label floating>Why this item?</ion-label>
        <ion-textarea [ngModel]="descricaoItem5"></ion-textarea>
      </div>
    </ion-item>
  </ion-list>
</ion-content>