<!--
  Generated template for the LolAccountModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Add Lol account</ion-title>
    <ion-buttons end>
      <button ion-button (click)="onClickAccount($event)">select</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input type="text" placeholder="type your nickname" [(ngModel)]="lolAccount.nick"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Region</ion-label>
    <ion-select interface="popover" [(ngModel)]="lolAccount.regiaoId">
      <div *ngFor="let regiao of regioes">
        <ion-option value="{{regiao.leagueOfLegends_RegiaoId}}">{{regiao.nome}}</ion-option>
      </div>
    </ion-select>
  </ion-item>

  <ion-list-header>Complete your profile</ion-list-header>
  <!-- <ion-card>
    <ion-item>
      <ion-avatar item-start>
        <img item-start class="img-account" src="{{ account.Imagem }}">
      </ion-avatar>
      <h2>{{ account.Nick }}</h2>
      <p>Level: {{ account.Level }}</p>
    </ion-item>
  </ion-card> -->

  <ion-card>
    <ion-item>

      <ion-label>
        <h5>Main Champion</h5>
      </ion-label>
      <div item-content>
        <button end ion-button outline (click)="onClickHeroiPrimario()" *ngIf="lolAccount?.heroiPrincipal == null">SELECT</button>
        <button end ion-button outline (click)="onClickHeroiPrimario()" *ngIf="lolAccount?.heroiPrincipal != null">CHANGE</button>
      </div>
    </ion-item>
    <div class="div-champion-img">
      <img src="{{lolAccount?.heroiPrincipal?.nome | lolImagens:'champion_splash'}}" />
      <div class="card-title">{{lolAccount?.heroiPrincipal?.nome}}</div>
      <div class="card-subtitle">{{lolAccount?.heroiPrincipal?.titulo}}</div>
    </div>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-label>
        <h5>Secundary Champion</h5>
      </ion-label>
      <div item-content>
        <button end ion-button outline (click)="onClickHeroiSecundario()" *ngIf="lolAccount?.heroiSecundario == null">SELECT</button>
        <button end ion-button outline (click)="onClickHeroiSecundario()" *ngIf="lolAccount?.heroiSecundario != null">CHANGE</button>
      </div>
    </ion-item>
    <div class="div-champion-img">
      <img src="{{lolAccount?.heroiSecundario?.nome | lolImagens:'champion_splash'}}" />
      <div class="card-title">{{lolAccount?.heroiSecundario?.nome}}</div>
      <div class="card-subtitle">{{lolAccount?.heroiSecundario?.titulo}}</div>
    </div>
  </ion-card>

  <ion-card>
    <ion-card-header>Primary lane</ion-card-header>
    <ion-card-content style="margin: auto; width: 100%">
      <div class="divv">
        <div class="radio-container">
          <label class="radio-label ">
            <input #top type="radio" name="primary" (change)="onChange($event)"  value="1">
            <img src="../../assets/icon/lanes-icon/top_icon.png" alt="" [ngClass]="{'glowing-border':primaryLane ==  'top'}">
          </label>
          <p>Top</p>
        </div>
        <div class="radio-container">
          <label class="radio-label ">
            <input #mid type="radio" name="primary" (change)="onChange($event)"  value="2">
            <img src="../../assets/icon/lanes-icon/mid_icon.png" alt="" [ngClass]="{'glowing-border':primaryLane ==  'mid'}">
          </label>
          <p>Mid</p>
        </div>
        <div class="radio-container">
          <label class="radio-label ">
            <input #bot type="radio" name="primary" (change)="onChange($event)"  value="3">
            <img src="../../assets/icon/lanes-icon/bot_icon.png" alt="" [ngClass]="{'glowing-border':primaryLane ==  'bot'}">
          </label>
          <p>Bot</p>
        </div>
        <div class="radio-container">
          <label class="radio-label ">
            <input #jungle type="radio" name="primary" (change)="onChange($event)"  value="3">
            <img src="../../assets/icon/lanes-icon/jungle_icon.png" alt="" [ngClass]="{'glowing-border':primaryLane ==  'jungle'}">
          </label>
          <p>Jungle</p>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Secundary lane</ion-card-header>
    <ion-card-content style="margin: auto; width: 100%">
      <div class="divv">
        <div class="radio-container">
          <label class="radio-label ">
            <input #top type="radio" name="secundary" (change)="onChange($event)"  value="1">
            <img src="../../assets/icon/lanes-icon/top_icon.png" alt="" [ngClass]="{'glowing-border':secundaryLane ==  'top'}">
          </label>
          <p>Top</p>
        </div>
        <div class="radio-container">
          <label class="radio-label ">
            <input #mid type="radio" name="secundary" (change)="onChange($event)"  value="2">
            <img src="../../assets/icon/lanes-icon/mid_icon.png" alt="" [ngClass]="{'glowing-border':secundaryLane ==  'mid'}">
          </label>
          <p>Mid</p>
        </div>
        <div class="radio-container">
          <label class="radio-label ">
            <input #bot type="radio" name="secundary" (change)="onChange($event)"  value="3">
            <img src="../../assets/icon/lanes-icon/bot_icon.png" alt="" [ngClass]="{'glowing-border':secundaryLane ==  'bot'}">
          </label>
          <p>Bot</p>
        </div>
        <div class="radio-container">
          <label class="radio-label ">
            <input #jungle type="radio" name="secundary" (change)="onChange($event)"  value="3">
            <img src="../../assets/icon/lanes-icon/jungle_icon.png" alt="" [ngClass]="{'glowing-border':secundaryLane ==  'jungle'}">
          </label>
          <p>Jungle</p>
        </div>
      </div>
    </ion-card-content>

  </ion-card>
</ion-content>
