page-lol-account-modal {
    .img-account {
        height: 50px;
        width: 50px;
    }
    .div-champion-img {
        position: relative;
        text-align: center;
    }
    .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
    }
    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }
    .divv {
        display: flex;
        align-items: center;
        justify-content: center
    }
    .radio-container {
        margin: 4px 8px;
        display: inline-block;
        label {
            input {
                position: absolute;
                top: -20px;
            }
            .glowing-border {
                outline: none;
                border-color: #d0b173;
                box-shadow: 0 0 30px #d9b978;
            }
            img {
                height: 50px;
                width: 50px;
                border-style: solid;
                border-color: gray;
                border-width: 1px;
                border-radius: 4px;
                box-shadow: 0 0 5px gray;
            }
        }
        input:checked+img {
            background-color: #ffefd0;
        }
        p {
            margin: 5px;
            text-align: center;
        }
    }
}