<!-- <ion-split-pane>
  <ion-menu [content]="content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
      <button ion-button block (click)="logout()" class="signup">Logout</button>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it 's poor UX to combine STGB with side menus -->
  <!-- <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane> -->



<ion-split-pane >
  
    <ion-menu [content]="content">
      <ion-header>
        <ion-toolbar>
          <ion-title>
            Menu
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
            {{p.title}}
          </button>
        </ion-list>
        <button ion-button block (click)="logout()" class="signup">Logout</button>
      </ion-content>
    </ion-menu>
  
    <ion-nav [root]="rootPage" #content main></ion-nav>
  
  </ion-split-pane>