<!--
  Generated template for the ChampionInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-card>
    <img src="{{champion.nome | lolImagens:'champion_splash'}}"/>
    <ion-card-content>
      <ion-card-title>
        {{champion.nome}}
        <h2>{{champion.titulo}}</h2>
      </ion-card-title>
      <p>
        {{champion.historia}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item *ngFor="let dica of champion?.dicas" >
      <ion-label>
        by {{dica.usuarioId}}
      </ion-label>
      {{dica.descricao}}
    </ion-item>
  </ion-list>
</ion-content>
