page-welcome {
    .splash-bg {
    position: relative;
    background: url('../assets/img/lol-bg.jpg') no-repeat transparent;
    background-size: cover;
    height: 100%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }

  .splash-intro-container {
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    padding-bottom: 16px;
  }
  .splash-intro {
    font-size: 18px;
    font-weight: bold;
    max-width: 80%;
    margin: auto;
    text-align: center;
    color: white;
  }
  button.login {
    margin-top: 25px;
    background-color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    color: #333;

    &.activated {
      background-color: rgb(220, 220, 220);
    }
  }

  .login-form-container{
    margin: auto;
    position: relative;
  }

}
