<ion-content scroll="false">

  <div class="splash-bg">
    <div class="splash-intro-container">

      <div class="splash-intro" bottom>
        <h2>Welcome</h2>
      </div>

      <div class="login-form-container" padding>
        
        <ion-item>
          <ion-input class="input-login" type="text" placeholder="username" [(ngModel)]="usuario"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-input type="password" placeholder="password" [(ngModel)]="senha"></ion-input>
        </ion-item>
        
        <div padding></div>
        
        <button ion-button block [disabled]="!this.usuario || !this.senha" (click)="login()" class="login">login</button>
        <button ion-button block (click)="register()" class="signup">register</button>

      </div>

      <div class="splash-intro" style="opacity: 0.4; background: #333;"></div>
   
    </div>
  
  </div>

</ion-content>