<!--
  Generated template for the ChampionUserbuildsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let build of builds">
      <div item-content>
        <ion-grid>
          <ion-row>
            <ion-label>{{build.nome}}</ion-label>
          </ion-row>
          <ion-row>
            <ion-col *ngFor="let item of build?.listaItems">
              <ion-card class="item-build-container">
                <img src="{{ item?.imagem | lolImagens:'item' }}" alt="">
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
  </ion-list>
</ion-content>