<!--
  Generated template for the SelecionarItemModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Choose your item</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngFor="let item of items">
    <ion-item>
      <ion-avatar item-start>
        <img item-start src="{{ item?.imagem | lolImagens:'item' }}">
      </ion-avatar>
      <!-- <ion-img item-start class="img-game" src="{{ game.iconUrl }}"></ion-img> -->
      <ion-label>
        <h5>{{ item?.nome }}</h5>
        <h6>{{ item?.titulo }}</h6>
      </ion-label>
      <div item-content>
        <button ion-button outline (click)="onClickSelectItem($event, item)">select</button>
      </div>
    </ion-item>
  </div>
</ion-content>
